{% extends 'base.html' %}
{% block body %}
    <h1>Create Workout</h1>
    <form method="POST" action="/workouts">
        <label for="user_id">User ID:</label><br>
        <input type="number" id="user_id" name="user_id" required><br><br>

        <label for="type">Workout Type:</label><br>
        <input type="text" id="type" name="type" required><br><br>

        <label for="duration">Duration (minutes):</label><br>
        <input type="number" id="duration" name="duration" required><br><br>

        <input type="submit" value="Create Workout">
    </form>
    {% endblock %}

